body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    color: #333;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}

/* Homepage */
.homepage {
    background-color:pink;
    padding: 50px 0;
    text-align: center;
}

.product-container {
    display: flex;
    justify-content: center;
    gap: 20px;
}

.product {
    border: 1px solid #ccc;
    padding: 20px;
    transition: transform 0.3s ease;
}

.product:hover {
    transform: scale(1.05);
}

/* About Us */
.about-us {
    background-color: #f9f9f9;
    padding: 50px 0;
    text-align: center;
}

/* Our Products */
.our-products {
    padding: 50px 0;
}

.category {
    margin-bottom: 30px;
}

/* Contact Us */
.contact-us {
    background-color: #fff;
    padding: 50px 0;
    text-align: center;
}

form {
    display: flex;
    flex-direction: column;
    max-width: 500px;
    margin: 0 auto;
}

input, textarea {
    margin-bottom: 20px;
    padding: 10px;
    border: 1px solid #ccc;
}

button {
    padding: 10px 20px;
    background-color: #007BFF;
    color: #fff;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #0056b3;
}